[defaults]
inventory=inventory/hosts.ini
host_key_checking=False
collections_path=./collections
roles_path=./roles
log_path=./logs
remote_port=YOUR_REMOTE_PORT
remote_user=YOUR_REMOTE_USER

[privilege escalation]
become=True
become_method=sudo
become_user=root
become_ask_pass=False
