[defaults]
inventory=inventory/hosts.ini
host_key_checking=False
collections_path=./collections
roles_path=./roles
log_path=./logs
remote_port=23091
remote_user=wazuh-pro

[privilege escalation]
become=True
become_method=sudo
become_user=root
become_ask_pass=False
